body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
}

.popup-container {
    max-width: 400px;
    margin: 50px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    opacity: 0;
    animation: slide-in 0.5s ease-out forwards, fade-in 1s ease-out forwards;
}

.extension-icon {
    width: 80px;
    height: auto;
    margin-bottom: 20px;
    transition: transform 0.3s ease-in-out;
}

.extension-icon:hover {
    animation: pulse 1s infinite;
}

@keyframes pulse {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.1);
    }
    100% {
        transform: scale(1);
    }
}

.features {
    margin-top: 20px;
}

footer {
    margin-top: 20px;
}

@keyframes slide-in {
    from {
        transform: translateY(-50px);
    }
    to {
        transform: translateY(0);
    }
}

@keyframes fade-in {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}